<header>
  <img src="../../assets/images/Logo.png" alt="logotipo">
  <input type="checkbox" id="toggler">
  <label for="toggler"><i class="fa-solid fa-bars" style="color: white;"></i></label>
  <nav class="menu">
    <ul class="list">
      <li><a href="">Inicio</a></li>
      <li><a href="porque-criar-um-site">Porque criar um site?</a></li>
      <li><a href="modelos">Modelos</a></li>
      <li><a href="serviços">Serviços</a></li>
      <li><a href="contato">Contato</a></li>
    </ul>
  </nav>
</header>
