<main>
  <section>
    <h1>As vantagens de criar um site</h1>
    <article class="flex-container">
      <div class="container">
        <h3>Porque criar um site?</h3>
        <p>No Marketing Digital, esse é um importante meio que pode destacar sua empresa na internet, pois além de poder levar as informações de sua empresa ou negócio para qualquer pessoa, pode também trabalhar de forma coordenada com outros meios de comunicação. Um site também é uma forma rápida e fácil de apresentar sua empresa, serviços ou produtos, já que pode conter um grande volume de informações e está disponível 24 horas por dia.</p>
        <p>Mesmo que você tenha um negócio local, ainda sim será vantajoso ter um site, pois por meio dele, novos clientes podem descobrir sobre você e seus serviços. O Google é uma ferramenta usada diariamente por usuários atrás de soluções para seus problemas. Logo, um site faria você ser encontrado mais facilmente e assim expandir suas vendas ou seus serviços, passando uma imagem mais profissional ao usuário. Fazendo assim um visitante se transformar em um novo cliente.</p>
        <p>Estar incluso digitalmente é essencial para o cresimento de uma empresa. Você pode ter o melhor produto, mas isso não adianta se não for encontrado. No mundo de hoje, você precisa ser encontrado e se destacar em meio aos concorrentes, ganhar credibilidade com seus clientes, que é uma forma de ganhar autoridade no mercado e expandir ainda mais a sua empresa.</p>
      </div>
      <div class="figure">
        <figure>
          <img src="../../assets/images/undraw_questions_re_1fy7.svg" alt="Imagem com ?">
        </figure>
      </div>
    </article>
  </section>
</main>
