<main>
    <div class="footer" >
      <div class="span">
        <span>Email: felipestylex08@gmail.com</span>
        <div class="tel">
          <span>Telefone: (98) 98340-0515</span>
          <a href="https://api.whatsapp.com/send?phone=5598983400515"><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></a>  
        </div>
        <div class="tel">
          <span>Telefone: (98) 98847-8646</span>
          <a href="https://api.whatsapp.com/send?phone=5598988478646" ><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></a>  
        </div>
     
      </div>
        
      </div>
    
</main>