<main>
    <div class="footer" >
      <form action="https://formsubmit.co/felipestylex08@gmail.com" method="POST" >
      <h1>Entre em contato</h1>
        <input type="text" name="name" placeholder="Nome" required>
        <input type="email" name="email" placeholder="Email" required>
        <br>
        <textarea name="message" id="message"  placeholder="Mensagem" required></textarea>
        <br>
        <button type="submit">Enviar</button>
        <input type="hidden" name="_subject" value="Novo Contato">
        <input type="text" name="_honey" style="display: none">
        <input type="hidden" name="_captcha" value="false">
      </form>
      <div class="span">
        <span>Email: felipestylex08@gmail.com</span>
        <div class="tel">
          <span>Telefone: (98) 98340-0515</span>
          <a href="https://api.whatsapp.com/send?phone=5598983400515"><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></a>  
        </div>
        <div class="tel">
          <span>Telefone: (98) 98847-8646</span>
          <a href="https://api.whatsapp.com/send?phone=5598988478646" ><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></a>  
        </div>
     
      </div>
        
      </div>
    
</main>