<main>
  <h1>Confira aqui nossos serviços</h1>
  <article>
    <div class="flip-card">
      <div class="flip-card-front">
        <img src="../../assets/images/undraw_web_devices_re_m8sc.svg" alt="">
        <h4>Criação de sites completos</h4>
        <p>Criaremos sites profissionais para você. Usamos as melhores tecnologias para manter seu site sempre atualizado e funcionando da melhor forma.
           Além um site completamente responsivo, ou seja, estará adpatado para funcionar em seu pc, tablet, notebook, celular e etc..
        </p>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-front">
        <img src="../../assets/images/undraw_cloud_hosting_7xb1.png" alt="">
        <h4>Hospedagem de sites</h4>
        <p>Hospedaremos seu site, mantendo ele sempre ativo e disponível para uso a qualquer hora.
           Criaremos o domínio com o nome que desejar (Endereço do seu site). Contamos também com bancos de dados, para guardar suas as informações de forma ainda mais segura.
        </p>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-front">
        <img src="../../assets/images/undraw_Web_development_0l6v.png" alt="">
        <h4>Manutenções no seu site</h4>
        <p>
          Fazemos manutenções em seu site, com o intuito de deixá-lo sempre atualizado, ou conforme for solicitado por nossos clientes, poderemos adicionar novas informações, realizar alterações de textos, adicionar notícias, criar novas páginas e etc...
        </p>
      </div>
    </div>
  </article>
</main>