<img src="../../assets/images/home-image.jpg" alt="imagem">
<section class="box-text">
  <h1>Crie seu site da forma que sempre quis!</h1>
  <p>Desenvolvemos o seu site sob medida, transformando sua visão em realidade. Com nossa expertise em desenvolvimento, oferecemos soluções personalizadas para atender às suas necessidades únicas. Do design elegante à funcionalidade avançada, estamos aqui para tornar o seu site exatamente como você sempre sonhou. Crie uma presença online impactante e eficaz conosco.</p>
</section>

<main class="main-page">
  <div class="background"></div>
  <h1 class="title">Confira nossos serviços</h1>
  <section class="infos">
    <article class="box">
      <i class="fa-solid fa-computer"></i>
      <h2>Criação de site</h2>
      <span>Sites porfissionais para sua empresa ou seu negócio!</span>
    </article>

    <article class="box">
      <i class="fa-solid fa-server"></i>
      <h2>Hospedagem</h2>
      <span>Cuidaremos da hospedagem do seu site!</span>
    </article>

    <article class="box">
      <i class="fa-solid fa-gears"></i>
      <h2>Manutenção</h2>
      <span>Seu site sempre atualizado!</span>
      <br>
      <span>Solicite mudanças quando quiser.</span>
    </article>
    
  </section>
  <br>
  <br>

  <carousel [isAnimated]="true" class="models" [interval]="10000">
    <slide class="box">
      <h1 class="h1-models">Modelos de Sites</h1>
      <h2 class="h2">Site com design padrão</h2>
      <img src="../../assets/images/undraw_product_tour_re_8bai.svg" alt="first slide" >
      <p>Confira nossos modelos</p>
    </slide>
    <slide class="box">
      <h1 class="h1-models">Modelos de Sites</h1>
      <h2 class="h2">Site personalizado</h2>
      <img src="../../assets/images/undraw_web_devices_re_m8sc.svg" alt="second slide">
      <p>Criaremos um site do zero para você da forma que desejar</p>
    </slide>
    <slide class="box">
      <h1 class="h1-models">Modelos de Sites</h1>
      <h2 class="h2">Site de uma página</h2>
      <img src="../../assets/images/undraw_startup_life_re_8ow9.svg" alt="third slide">
      <p>Perfeito para a divulgação da sua empresa ou negócio</p>
    </slide>
  </carousel>

  <footer >
    <form action="https://formsubmit.co/felipestylex08@gmail.com" method="POST" >
      <h1>Entre em contato</h1>
        <input type="text" name="name" placeholder="Nome" required>
        <input type="email" name="email" placeholder="Email" required>
        <br>
        <textarea name="message" id="message"  placeholder="Mensagem" required></textarea>
        <br>
        <button type="submit">Enviar</button>
        <input type="hidden" name="_subject" value="Novo Contato">
        <input type="text" name="_honey" style="display: none">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_next" value="https://scytech.vercel.app/obrigado">
      </form>
    <div class="span">
      <span>Email: felipestylex08@gmail.com</span>
      <div class="tel">
        <span>Telefone: (98) 98340-0515</span>
        <a href="https://api.whatsapp.com/send?phone=5598983400515"><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></a>  
      </div>
      <div class="tel">
        <span>Telefone: (98) 98847-8646</span>
        <a href="https://api.whatsapp.com/send?phone=5598988478646" ><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></a>  
      </div>
   
    </div>
  </footer>

</main>